.bg-wrapper{
    width:1100px;
    background-color:#BBC8D1;
    margin:auto;
}

body{
    font-family:Verdana,Arial,sans-serif;
    color:#798384;
    font-size:12px;
    background: url('imgs/bg.jpg') #E5EAEE 0px -150px repeat-x;
}

h2{
    color:#A5251C;
    font-family:'MyriadProBoldItalic';
    font-size:16px;
}

h3{
    color:#A5251C;
    font-family:'MyriadProBold';
    font-size:16px;
}

.certificacoes a{
    color:#798384;
    text-decoration: none;
    font-family:'MyriadProBold';
}
.certificacoes a:visited{ color:#798384; }

.certificacoes a:active{ text-decoration: none; }



.principal{
    width:980px;
    margin:auto;
    background-color:#FFF;
}

.faixa-laranja{
    width:980px;
    background-color:#E67819;
    height:4px;
}

.logotipo{
    margin-top:40px;
    margin-bottom:50px;
}

.telefone{
    float:right;
}

.flash-object{
    float:right;
    height:140px;
    width: 274px;
    background-color: #676C6F;
    margin-top:-73px;
    margin-left:300px;
/*    margin-right:-3000px;
    padding-right:3000px;*/
    overflow:visible;
    color:#FFF;
}

.flash-object .logout-btn{
    float:right;
    margin-right:30px;
    margin-top:20px;
    font-family:'Verdana',sans-serif;
    font-size:12px;
    color:#FFF;
    text-decoration:none;
}

.flash-object .logout-btn:active,
.flash-object .logout-btn:visited{
    color:#FFF;
}
.flash-object .logout-btn:hover{
    color:#BBC8D1;
}

.flash-object .info-logado{
    font-family:'Verdana',sans-serif;
    margin-left:20px;
    margin-top:80px;
    font-size:14px;
    font-weight: bold;
}

.flash-object .info-logado .info-logado-status{
    font-size:10px;
    font-weight: normal;
}

.flash-object .info-logado .info-logado-data{
    margin-top:30px;
    display:block;
    font-size:12px;
    color:#778188;
    font-weight: normal;
}

.menu{
   width:685px;
   font-family: 'MyriadProBold';
   font-size:13px;
}

.lista-menu{
    margin-left:-3000px;
    padding-left:3035px;
    list-style:none;
    background-color:#A5251C;
    padding-top:15px;
    padding-bottom:35px;
}

.lista-menu li{
    width:630px;
    border-top:1px #FFF solid;
    height:34px;
    line-height:34px;
    padding-left:20px;
}

.lista-menu li.primeiro{
    border-top:none;
}

.lista-menu li a{
    display:block;
    text-decoration:none;
}

.lista-menu li a,
.lista-menu li a:visited,
.lista-menu li a:active{
    color:#FFF;
}

.lista-menu li a:hover{
    color:#BBC8D1;
}

.centro{
    padding:0 30px 30px 30px;
}


.rodape{
    font-family:'Arial','sans-serif';
    background-color:#4F5052;
    color:#FFF;
    height: 140px;
    line-height:110%;
    font-size:10px;
}

.rodape a{
    text-decoration:none;
    color:#FFF;
}

.rodape a:visited,
.rodape a:active{
    color:#FFF;
}

.rodape a:hover{
    color:#BBC8D1;
}

.rodape .assinatura a:hover{
    color:#FFF;
    border-bottom:1px #FFF dotted;
}

.rodape .menu-rodape{
    list-style: none;
}

.rodape .menu-rodape li{
    margin-bottom:5px;
}

.rodape .rodape-box{
    float:left;
    padding:25px 0 25px 40px;
    height: 90px;
}

.rodape .rodape-box.prim{
    line-height: 130%;
}

.rodape .assinatura{
    padding:25px 40px 25px 0;
    text-align:right;
    font-size:9px;
}

.barra-inf{
    background-color:#F4F5F7;
    border-top:1px #D6D7D9 solid;
    height: 146px;
    color:#E67819;
    padding:40px;
    font-weight: bold;
}

.barra-inf img{
    margin-top:-30px;
    float:right;
}

.barra-inf .barra-texto{
    width:200px;
    height: 120px;
    float:left;
}

.empty-row{
    text-align: center;
}