.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.nomargin {
  margin: 0 !important;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
body {
  font-family: 'MyriadProRegular', 'Arial', 'Helvetica', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
.flash-object .animate {
  height: 273px;
  overflow: hidden;
  font-size: 0;
}
.flash-object .animate img {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.flash-object .animate hgroup {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 210px;
  padding: 60px 25px 0 15px;
}
.flash-object .animate hgroup h1 {
  font-family: 'MyriadProBoldItalic', 'Arial', 'Helvetica', 'Verdana', 'Tahoma', sans-serif;
  font-size: 28px;
  font-weight: normal;
  color: #fff;
  line-height: 115%;
  margin-bottom: 15px;
}
.flash-object .animate hgroup h2 {
  color: #fff;
  line-height: 170%;
  font-family: 'MyriadProItalic', 'Arial', 'Helvetica', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.centro {
  font-size: 0;
}
.centro .conteudo {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 626px;
  font-size: 10px;
  margin-top: -30px;
}
.centro .conteudo .olho-laranja {
  background-color: #f58635;
  padding: 20px 25px;
  color: #fff;
  font-family: 'MyriadProItalic', 'Arial', 'Helvetica', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
}
.centro .barra-lateral {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 230px;
  font-size: 12px;
  margin-right: 62px;
  color: #778288;
}
.centro .barra-lateral h2 {
  line-height: 120%;
  margin-bottom: 5px;
  font-family: 'MyriadProBoldItalic', 'Arial', 'Helvetica', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
}
.centro .barra-lateral ul {
  list-style: none;
  color: #A5251C;
}
.centro .barra-lateral p {
  margin: 7px 0;
}
.centro .barra-lateral p a {
  text-decoration: none;
  color: #778288;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.centro .barra-lateral p a:active,
.centro .barra-lateral p a:visited {
  color: #778288;
}
.centro .barra-lateral p a:hover {
  color: #A5251C;
}
.centro .barra-lateral ul.submenu {
  margin: 6px 0 6px -30px;
  width: 298px;
}
.centro .barra-lateral ul.submenu li {
  padding-left: 30px;
  height: 35px;
  line-height: 35px;
  border-bottom: 1px #DCDDDF solid;
}
.centro .barra-lateral ul.submenu li a {
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  display: block;
  color: #3D4952;
  font-family: 'MyriadProRegular', 'Arial', 'Helvetica', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.centro .barra-lateral ul.submenu li a:active,
.centro .barra-lateral ul.submenu li a:visited {
  color: #3d4952;
}
.centro .barra-lateral ul.submenu li a.ativo,
.centro .barra-lateral ul.submenu li a:hover {
  color: #A5251C;
}
.centro .barra-lateral ul.submenu li a .vermelho {
  color: #A5251C;
  padding-right: 8px;
  font-size: 18px;
}
.centro .barra-lateral ul.submenu li a .menor {
  font-size: 12px;
}
h1.titulo-internas {
  color: #A5251C;
  font-family: 'MyriadProBoldItalic', 'Arial', 'Helvetica', 'Verdana', 'Tahoma', sans-serif;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 5px;
  line-height: 115%;
}
.texto-internas p {
  margin: 0 0 20px 0;
  font-family: 'MyriadProRegular', 'Arial', 'Helvetica', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.texto-internas p a {
  text-decoration: none;
  color: #778288;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.texto-internas p a:active,
.texto-internas p a:visited {
  color: #778288;
}
.texto-internas p a:hover {
  color: #A5251C;
}
.texto-internas h3 {
  color: #A5251C;
  font-family: 'MyriadProBoldItalic', 'Arial', 'Helvetica', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.texto-internas ul {
  list-style: inside;
  font-family: 'MyriadProRegular', 'Arial', 'Helvetica', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.texto-internas img.fleft {
  clear: both;
  margin-right: 33px;
  margin-bottom: 10px;
  float: left;
}
.texto-internas .link-info {
  margin-bottom: 30px;
  border-top: 3px #A5251C solid;
  padding-top: 13px;
  padding-right: 120px;
  position: relative;
  display: block;
  text-decoration: none;
  color: #3D4952;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.texto-internas .link-info.nopad {
  padding-right: 0;
  padding-bottom: 30px;
}
.texto-internas .link-info:active,
.texto-internas .link-info:visited {
  color: #3D4952;
}
.texto-internas .link-info:hover .saiba-mais {
  color: #F58635;
}
.texto-internas .link-info h2 {
  font-family: 'MyriadProRegular', 'Arial', 'Helvetica', 'Verdana', 'Tahoma', sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-weight: bold;
  color: #3D4952;
  line-height: 115%;
  margin-bottom: 10px;
}
.texto-internas .link-info p {
  color: #3D4952;
  line-height: 120%;
}
.texto-internas .link-info .saiba-mais {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #fff;
  background-color: #A5251C;
  display: blch;
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  line-height: 20px;
  width: 100px;
  text-align: center;
  font-family: 'MyriadProItalic', 'Arial', 'Helvetica', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
.texto-internas .voltar {
  border-top: 2px #A5251C solid;
}
.texto-internas .voltar .btn-voltar {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 73px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  display: block;
  font-family: 'MyriadProRegular', 'Arial', 'Helvetica', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  background-color: #A5251C;
  text-decoration: none;
}
.texto-internas .voltar .btn-voltar:hover {
  color: #F58635;
}
.box-laranja-internas {
  background-color: #f58635;
  padding: 4px;
  height: 150px;
  margin-bottom: 20px;
}
.box-laranja-internas img {
  float: left;
  margin-right: 20px;
}
.box-laranja-internas .texto {
  padding: 10px 0 0 15px;
}
.box-laranja-internas .texto h2 {
  font-family: 'MyriadProItalic', 'Arial', 'Helvetica', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  margin-bottom: 10px;
}
.box-laranja-internas .texto p {
  font-family: 'MyriadProRegular', 'Arial', 'Helvetica', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #FFF;
}
.boxes-quemsomos {
  font-size: 0;
}
.boxes-quemsomos .box {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 205px;
  background-color: #f58635;
  color: #fff;
  text-align: center;
  margin-right: 3px;
}
.boxes-quemsomos .box img {
  width: 205px;
}
.boxes-quemsomos .box .titulo {
  height: 30px;
  line-height: 30px;
  font-family: 'MyriadProRegular', 'Arial', 'Helvetica', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-weight: bold;
}
.boxes-quemsomos .box p {
  height: 90px;
  padding: 15px 20px;
  font-family: 'MyriadProRegular', 'Arial', 'Helvetica', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 180%;
}
.conteudo.contato .telefone-cont {
  font-family: 'MyriadProRegular', 'Arial', 'Helvetica', 'Verdana', 'Tahoma', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-weight: bold;
  display: block;
  margin: 4px 0;
}
.conteudo.contato .telefone-emergencia {
  background-color: #A5251C;
  color: #fff;
  font-family: 'MyriadProRegular', 'Arial', 'Helvetica', 'Verdana', 'Tahoma', sans-serif;
  font-size: 18px;
  font-weight: normal;
  display: block;
  padding: 4px 10px;
  margin-bottom: 30px;
  width: 300px;
}
.conteudo.contato iframe {
  margin-top: 15px;
}
#form-contato {
  width: 277px;
  margin-left: -10px;
}
#form-contato input[type="text"],
#form-contato input[type="email"] {
  border: 1px #A5251C solid;
  padding: 3px 10px;
  width: 255px;
  height: 20px;
  line-height: 20px;
  margin-bottom: 4px;
  font-family: 'MyriadProRegular', 'Arial', 'Helvetica', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
#form-contato textarea {
  resize: none;
  border: 1px #A5251C solid;
  padding: 3px 10px;
  width: 255px;
  height: 80px;
  font-family: 'MyriadProRegular', 'Arial', 'Helvetica', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
#form-contato input[type="submit"] {
  width: 85px;
  height: 30px;
  line-height: 30px;
  background-color: #A5251C;
  color: #fff;
  text-align: center;
  font-family: 'MyriadProItalic', 'Arial', 'Helvetica', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  border: none;
  float: right;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
#form-contato input[type="submit"]:hover {
  cursor: pointer;
  color: #F58635;
}
a {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.bg-wrapper {
  width: 1100px;
  background-color: #BBC8D1;
  margin: auto;
}
body {
  font-family: Verdana, Arial, sans-serif;
  color: #3D4952;
  font-size: 12px;
  background: url('imgs/bg.jpg') #e5eaee top left repeat-x;
}
h2 {
  color: #A5251C;
  font-family: 'MyriadProBoldItalic';
  font-size: 16px;
}
h3 {
  color: #A5251C;
  font-family: 'MyriadProBold';
  font-size: 16px;
}
.certificacoes a {
  color: #798384;
  text-decoration: none;
  font-family: 'MyriadProBold';
}
.certificacoes a:active,
.certificacoes a:visited {
  color: #798384;
  text-decoration: none;
}
.certificacoes a:hover {
  color: #A5251C;
}
.principal {
  width: 980px;
  margin: auto;
  background-color: #FFF;
}
.faixa-laranja {
  width: 980px;
  background-color: #E67819;
  height: 4px;
}
.logotipo {
  margin-top: 40px;
  margin-bottom: 50px;
}
.telefone {
  float: right;
  margin: 20px 25px 0 0;
}
.flash-object {
  float: right;
  height: 273px;
  width: 656px;
  background-color: #6F7C85;
  margin-top: -68px;
  /*    margin-right:-3000px;
    padding-right:3000px;*/

  overflow: visible;
}
.menu {
  background-color: #FFF;
  width: 305px;
  font-family: 'MyriadProBold';
  font-size: 13px;
}
.lista-menu {
  margin-left: -3000px;
  padding-left: 3035px;
  list-style: none;
  background-color: #A5251C;
  padding-top: 15px;
  padding-bottom: 30px;
}
.lista-menu li {
  width: 270px;
  border-top: 1px #FFF solid;
  height: 34px;
  line-height: 34px;
  padding-left: 20px;
}
.lista-menu li.primeiro {
  border-top: none;
}
.lista-menu li a {
  display: block;
  text-decoration: none;
}
.lista-menu li a,
.lista-menu li a:visited,
.lista-menu li a:active {
  color: #FFF;
}
.lista-menu li a.ativo,
.lista-menu li a:hover {
  color: #f58635;
}
.centro {
  padding: 30px;
}
.rodape {
  font-family: 'Arial', 'sans-serif';
  background-color: #4F5052;
  color: #FFF;
  height: 140px;
  line-height: 110%;
  font-size: 10px;
}
.rodape a {
  text-decoration: none;
  color: #FFF;
}
.rodape a:visited,
.rodape a:active {
  color: #FFF;
}
.rodape a:hover {
  color: #BBC8D1;
}
.rodape .assinatura a:hover {
  color: #FFF;
  border-bottom: 1px #FFF dotted;
}
.rodape .menu-rodape {
  list-style: none;
}
.rodape .menu-rodape li {
  margin-bottom: 5px;
}
.rodape .rodape-box {
  float: left;
  padding: 25px 0 25px 40px;
  height: 90px;
}
.rodape .rodape-box.prim {
  line-height: 130%;
}
.rodape .assinatura {
  padding: 25px 40px 25px 0;
  text-align: right;
  font-size: 9px;
}
.barra-inf {
  background-color: #ECEDEF;
  border-top: 2px #D6D7D9 solid;
  height: 180px;
  color: #E67819;
  padding: 5px 40px 40px 40px;
  font-weight: bold;
}
.barra-inf .barra-texto {
  width: 200px;
  height: 120px;
  float: left;
  margin-top: 30px;
}
.barra-inf img.selos {
  margin-top: 15px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: middle;
}
.barra-inf img.selos.prim {
  margin-right: 25px;
}
.barra-inf .chamada-internas {
  width: 157px;
  height: 70px;
  float: right;
  padding: 130px 20px 0 20px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #F58634;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.barra-inf .chamada-internas .saiba-mais {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-size: 12px;
  margin-top: 3px;
}
.barra-inf .chamada-internas:hover,
.barra-inf .chamada-internas:hover .saiba-mais {
  color: #A5251C;
}
.barra-inf .chamada-internas.tecnica {
  background: url('../_imgs/layout/rodape-tecnologica.jpg') transparent top left no-repeat;
  margin-left: 18px;
}
.barra-inf .chamada-internas.estetica {
  background: url('../_imgs/layout/rodape-estetica.jpg') transparent top left no-repeat;
  margin-left: 18px;
}
.barra-inf .chamada-internas.manutencao {
  background: url('../_imgs/layout/rodape-manutencao.jpg') transparent top left no-repeat;
}
.msg {
  padding: 15px 20px;
  text-align: center;
  font-weight: bold;
  font-family: arial, sans-serif;
  font-size: 12px;
  line-height: 160%;
}
.msg.sucesso {
  border: 1px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.msg.falha {
  border: 1px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
