@import 'vars.less';

body{
    .myriad();
}

.flash-object{
    .animate{
        height:273px;
        overflow: hidden;
        font-size:0;
        img{ .inline; }
        hgroup{
            .inline;
            width:210px;
            padding:60px 25px 0 15px;
            h1{
                .myriadBoldItalic(28px);
                color:#fff;
                line-height:115%;
                margin-bottom:15px;
            }
            h2{
                color:#fff;
                line-height:170%;
                .myriadItalic(14px);
            }
        }
    }
}
.centro{
    font-size:0;
    .conteudo{
        .inline;
        width:626px;
        font-size:10px;
        margin-top:-30px;
        .olho-laranja{
            background-color:@laranja;
            padding:20px 25px;
            color:#fff;
            .myriadItalic(16px);
            margin-bottom:20px;
        }
    }    
    .barra-lateral{
        .inline;
        width:230px;
        font-size:12px;
        margin-right:62px;
        h2{
            line-height:120%;
            margin-bottom:5px;
            .myriadBoldItalic(20px);
        }
        ul{
            list-style:none;
            color:#A5251C;    
        }
        color:#778288;
        p{
            margin:7px 0;
            a{
                text-decoration:none;
                color:#778288;
                .transition;
                &:active, &:visited{color:#778288;}
                &:hover{
                    color:#A5251C;
                }
            }
        }
        ul.submenu{
            margin:6px 0 6px -30px;
            width:298px;
            li{
                padding-left:30px;
                height:35px;
                line-height:35px;
                border-bottom:1px #DCDDDF solid;
                a{
                    height:35px;
                    line-height:35px;
                    text-decoration:none;
                    display: block;
                    color:#3D4952;
                    .myriad(14px);
                    &:active, &:visited{ color:#3D4952 }
                    &.ativo, &:hover{color:#A5251C;}
                    .vermelho{
                        color:#A5251C;
                        padding-right:8px;
                        font-size:18px;
                    }
                    .menor{
                        font-size:12px;
                    }
                }
            }
        }
    }
}

h1.titulo-internas{
    color:#A5251C; 
    .myriadBoldItalic(30px);
    margin-bottom:5px;
    line-height:115%;
}

.texto-internas{
    p{
        margin:0 0 20px 0;
        .myriad(14px);
        a{
            text-decoration:none;
            color:#778288;
            .transition;
            &:active, &:visited{color:#778288;}
            &:hover{
                color:#A5251C;
            }
        }
    }
    h3{
        color:#A5251C;
        .myriadBoldItalic(16px);
    }
    ul{
        list-style:inside;
        .myriad(14px);
    }
    img.fleft{
        clear:both;
        margin-right:33px;
        margin-bottom:10px;
        float:left;
    }
    .link-info{      
        margin-bottom:30px;
        border-top:3px #A5251C solid;
        padding-top:13px;
        padding-right:120px;
        position:relative;
        display:block;
        text-decoration:none;
        color:#3D4952;
        &.nopad{
            padding-right:0;
            padding-bottom:30px;
        }
        .transition;
        &:active, &:visited{ color:#3D4952; }
        &:hover{
            .saiba-mais{
                color:#F58635;
            }
        }
        h2{
            .myriad(22px);
            font-weight:bold;
            color:#3D4952;
            line-height:115%;
            margin-bottom:10px;
        }
        p{
            color:#3D4952;
            line-height:120%;
        }
        .saiba-mais{
            .transition;
            color:#fff;
            background-color:#A5251C;
            display:blch;
            position:absolute;
            top:0;
            right:0;
            height:20px;
            line-height:20px;
            width:100px;
            text-align:center;
            .myriadItalic(12px);
        }
    }
    .voltar{
        border-top:2px #A5251C solid;
        .btn-voltar{
            .transition;
            &:hover{
                color:#F58635;
            }
            width:73px;
            height:20px;
            line-height:20px;
            text-align:center;
            color:#fff;
            display:block;
            .myriad(12px);
            background-color:#A5251C;
            text-decoration:none;
        }
    }
}

.box-laranja-internas{
    background-color:@laranja;
    padding:4px;
    height:150px;
    margin-bottom:20px;
    img{
        float:left;
        margin-right:20px;
    }
    .texto{
        padding:10px 0 0 15px;
        h2{
            .myriadItalic(16px);
            color:#fff;
            margin-bottom:10px;
        }
        p{
            .arial(12px);
            color:#FFF;
        }
    }
}

.boxes-quemsomos{
    font-size:0;
    .box{
        .inline;
        width:205px;
        background-color:@laranja;
        color:#fff;
        text-align:center;
        margin-right:3px;
        img{ width:205px; }
        .titulo{
            height:30px;
            line-height:30px;
            .myriad(14px);
            font-weight:bold;
        }
        p{
            height:90px;
            padding:15px 20px;
            .myriad(14px);
            line-height:180%;
        }
    }
}

.conteudo.contato{
    .telefone-cont{
        .myriad(18px);
        font-weight:bold;
        display: block;
        margin:4px 0;
    }
    .telefone-emergencia{
        background-color:#A5251C;
        color:#fff;
        .myriad(18px);
        display: block;
        padding:4px 10px;
        margin-bottom:30px;
        width:300px;
    }
    iframe{
        margin-top:15px;
    }
}

#form-contato{
    width:277px;
    margin-left:-10px;
    input[type="text"],
    input[type="email"]{
        border:1px #A5251C solid;
        padding:3px 10px;
        width:255px;
        height:20px;
        line-height:20px;
        margin-bottom:4px;
        .myriad(12px);
    }
    textarea{
        resize:none;
        border:1px #A5251C solid;
        padding:3px 10px;
        width:255px;
        height:80px;
        .myriad(12px);
    }
    input[type="submit"]{
        width:85px;
        height:30px;
        line-height:30px;
        background-color:#A5251C;
        color:#fff;
        text-align:center;
        .myriadItalic(14px);
        border:none;
        float:right;
        .transition;
        &:hover{
            cursor:pointer;
            color:#F58635;
        }
    }
}


//==============================================//
a{
    -webkit-transition:all .3s ease-in;  
   -moz-transition:all .3s ease-in;
   -o-transition:all .3s ease-in;
   transition:all .3s ease-in;
}

.bg-wrapper{
    width:1100px;
    background-color:#BBC8D1;
    margin:auto;
}

body{
    font-family:Verdana,Arial,sans-serif;
    color:#3D4952;
    font-size:12px;
    background: url('imgs/bg.jpg') #E5EAEE top left repeat-x;
}

h2{
    color:#A5251C;
    font-family:'MyriadProBoldItalic';
    font-size:16px;
}

h3{
    color:#A5251C;
    font-family:'MyriadProBold';
    font-size:16px;
}

.certificacoes a{
    color:#798384;
    text-decoration: none;
    font-family:'MyriadProBold';
}
.certificacoes a:active,.certificacoes a:visited{ color:#798384; text-decoration: none;}
.certificacoes a:hover{ color:#A5251C;}

.principal{
    width:980px;
    margin:auto;
    background-color:#FFF;
}

.faixa-laranja{
    width:980px;
    background-color:#E67819;
    height:4px;
}

.logotipo{
    margin-top:40px;
    margin-bottom:50px;
}

.telefone{
    float:right;
    margin:20px 25px 0 0;
}

.flash-object{
    float:right;
    height:273px;
    width: 656px;
    background-color: #6F7C85;
    margin-top:-68px;
/*    margin-right:-3000px;
    padding-right:3000px;*/
    overflow:visible;
}

.menu{
   background-color:#FFF;
   width:305px;
   font-family: 'MyriadProBold';
   font-size:13px;
}

.lista-menu{
    margin-left:-3000px;
    padding-left:3035px;
    list-style:none;
    background-color:#A5251C;
    padding-top:15px;
    padding-bottom:30px;
}

.lista-menu li{
    width:270px;
    border-top:1px #FFF solid;
    height:34px;
    line-height:34px;
    padding-left:20px;
}

.lista-menu li.primeiro{
    border-top:none;
}

.lista-menu li a{
    display:block;
    text-decoration:none;
}

.lista-menu li a,
.lista-menu li a:visited,
.lista-menu li a:active{
    color:#FFF;
}

.lista-menu li a.ativo,
.lista-menu li a:hover{
    color:@laranja;
}

.centro{
    padding:30px;
}


.rodape{
    font-family:'Arial','sans-serif';
    background-color:#4F5052;
    color:#FFF;
    height: 140px;
    line-height:110%;
    font-size:10px;
}

.rodape a{
    text-decoration:none;
    color:#FFF;
}

.rodape a:visited,
.rodape a:active{
    color:#FFF;
}

.rodape a:hover{
    color:#BBC8D1;
}

.rodape .assinatura a:hover{
    color:#FFF;
    border-bottom:1px #FFF dotted;
}

.rodape .menu-rodape{
    list-style: none;
}

.rodape .menu-rodape li{
    margin-bottom:5px;
}

.rodape .rodape-box{
    float:left;
    padding:25px 0 25px 40px;
    height: 90px;
}

.rodape .rodape-box.prim{
    line-height: 130%;
}

.rodape .assinatura{
    padding:25px 40px 25px 0;
    text-align:right;
    font-size:9px;
}

.barra-inf{
    background-color:#ECEDEF;
    border-top:2px #D6D7D9 solid;
    height: 180px;
    color:#E67819;
    padding:5px 40px 40px 40px;
    font-weight: bold;
    .barra-texto{
        width:200px;
        height: 120px;
        float:left;
        margin-top:30px;
    }
    img.selos{
        margin-top:15px;
        .inline;
        vertical-align:middle;
        &.prim{margin-right:25px;}
    }
}

.barra-inf .chamada-internas{
    width: 157px;
    height: 70px;
    float: right;
    padding:130px 20px 0 20px;
    font-family:'Arial',sans-serif;
    font-weight: bold;
    color:#F58634;
    font-size: 14px;
    text-align:center;
    text-decoration:none;
    .transition;
    .saiba-mais{
        .transition;
        font-size:12px;
        margin-top:3px;
    }
    &:hover, &:hover .saiba-mais{
        color:#A5251C;
    }
}

.barra-inf .chamada-internas.tecnica{ background:url('../_imgs/layout/rodape-tecnologica.jpg') transparent top left no-repeat; margin-left:18px; }
.barra-inf .chamada-internas.estetica{ background:url('../_imgs/layout/rodape-estetica.jpg') transparent top left no-repeat; margin-left:18px; }
.barra-inf .chamada-internas.manutencao{ background:url('../_imgs/layout/rodape-manutencao.jpg') transparent top left no-repeat; }

.msg{
    padding:15px 20px;
    text-align:center;
    font-weight: bold;
    font-family:arial,sans-serif;
    font-size:12px;
    line-height: 160%;
}

.msg.sucesso{
    border:1px #C6D880 solid;
    background-color:#E6EFC2;
    color:#264409;
}
.msg.falha{
    border:1px #D8000C solid;
    color:#D8000C;
    background-color:#FFBABA;
}
