.financeiro .data{
    margin-top:15px;
    height: 30px;
    line-height: 30px;
    background-color:#EBEDEE;
    padding-left:10px;
    color:#707E86;
    font-family:'Verdana',sans-serif;
    font-size:14px;
    font-weight: bold;
    margin-bottom:25px;
}

h4{
    padding-left:10px;
    font-family:'Verdana',sans-serif;
    font-weight: bold;
    font-size:14px;
}

.tabela-financeiro{
    margin-bottom:30px;
}

.tabela-financeiro thead{
    background-color:#EBEDEE;
    height: 20px;
    line-height: 20px;
    font-family:'Verdana',sans-serif;
    font-size:10px;
    color:#707E86;
}

.tabela-financeiro tbody tr{
    height: 30px;
    line-height: 30px;
    font-family:'Verdana',sans-serif;
    font-size:14px;
}

.tabela-financeiro tbody tr td{border-bottom:2px #EBEDEE solid;}

.total-mensal .col1{ width:525px; padding-left:10px; }
.total-mensal .col2{ width:110px; }
.total-mensal .col3{ width:140px; }
.total-mensal .col4{ width:140px; }

.total-pecas .col1{ width:260px; padding-left:10px;}
.total-pecas .col2{ width:280px; }
.total-pecas .col3{ width:90px; }
.total-pecas .col4{ width:140px; }
.total-pecas .col5{ width:140px;}

.total-servicos .col1{ width:260px; padding-left:10px; }
.total-servicos .col2{ width:370px; }
.total-servicos .col3{ width:140px; }
.total-servicos .col4{ width:140px; }

.titulo-historico{
    height: 30px;
    line-height: 30px;
    background-color:#EBEDEE;
    padding-left:10px;
    margin-bottom:4px;
}

.hist-box{
    width: 140px;
    padding-left:10px;
    height: 20px;
    line-height: 20px;
    background-color:#EBEDEE;
    font-family:'Verdana',sans-serif;
    font-size:14px;
    margin-right:5px;
    margin-bottom:2px;
}

.hist-box a{
    text-decoration: none;
    color:#707E86;
    display:block;
}

.hist-box a:visited, .hist-box a:active{color:#707E86;}
.hist-box a:hover{
    color:#A5251C;
}

.hist-box.ano{ font-weight: bold; }

.caixa-anual{
    height:300px;
    width:158px;
    float:left;
}

.historico{
    height: 300px;
}

.faixa-total{
    background-color:#778188;
    color:#FFF;
    font-weight: bold;
    font-family:'Verdana',sans-serif;
    font-size:14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-bottom:30px;
    padding-left:10px;
    padding-right:10px;
}

.faixa-total .valor-total{ float:right; }