@font-face {
    font-family: 'MyriadProRegular';
    src: url('fontes/myriadpro-webfont.eot'),
         url('css/fontes/myriadpro-webfont.eot');
    src: url('fontes/myriadpro-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fontes/myriadpro-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/myriadpro-webfont.woff') format('woff'),
         url('css/fontes/myriadpro-webfont.woff') format('woff'),
         url('fontes/myriadpro-webfont.ttf') format('truetype'),
         url('css/fontes/myriadpro-webfont.ttf') format('truetype'),
         url('fontes/myriadpro-webfont.svg#MyriadProRegular') format('svg'),
         url('css/fontes/myriadpro-webfont.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProBold';
    src: url('fontes/myriadpro-bold-webfont.eot'),
         url('css/fontes/myriadpro-bold-webfont.eot');
    src: url('fontes/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fontes/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/myriadpro-bold-webfont.woff') format('woff'),
         url('css/fontes/myriadpro-bold-webfont.woff') format('woff'),
         url('fontes/myriadpro-bold-webfont.ttf') format('truetype'),
         url('css/fontes/myriadpro-bold-webfont.ttf') format('truetype'),
         url('fontes/myriadpro-bold-webfont.svg#MyriadProBold') format('svg'),
         url('css/fontes/myriadpro-bold-webfont.svg#MyriadProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProBoldItalic';
    src: url('fontes/myriadpro-boldit-webfont.eot'),
         url('css/fontes/myriadpro-boldit-webfont.eot');
    src: url('fontes/myriadpro-boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fontes/myriadpro-boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/myriadpro-boldit-webfont.woff') format('woff'),
         url('css/fontes/myriadpro-boldit-webfont.woff') format('woff'),
         url('fontes/myriadpro-boldit-webfont.ttf') format('truetype'),
         url('css/fontes/myriadpro-boldit-webfont.ttf') format('truetype'),
         url('fontes/myriadpro-boldit-webfont.svg#MyriadProBoldItalic') format('svg'),
         url('css/fontes/myriadpro-boldit-webfont.svg#MyriadProBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProItalic';
    src: url('fontes/myriadpro-it-webfont.eot'),
         url('css/fontes/myriadpro-it-webfont.eot');
    src: url('fontes/myriadpro-it-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fontes/myriadpro-it-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/myriadpro-it-webfont.woff') format('woff'),
         url('css/fontes/myriadpro-it-webfont.woff') format('woff'),
         url('fontes/myriadpro-it-webfont.ttf') format('truetype'),
         url('css/fontes/myriadpro-it-webfont.ttf') format('truetype'),
         url('fontes/myriadpro-it-webfont.svg#MyriadProItalic') format('svg'),
         url('css/fontes/myriadpro-it-webfont.svg#MyriadProItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

