@import 'vars.less';

.principal{
    .centro{
        .conteudo{
            .box-laranja{
                display: block;
                margin-bottom:20px;
                background-color:@laranja;
                padding:3px;
                height:142px;
                text-decoration:none;
                .transition;
                color:#fff;
                &:active, &:visited{ color:#fff; }
                &:hover{
                    color:#676C70;
                }
                img{
                    float:right;
                    border:1px #fff solid;
                }
                .texto{
                    display: block;
                    width:340px;
                    padding:10px 0 0 13px;
                    h1{
                        .myriadBoldItalic(22px);
                        line-height:110%;
                    }
                    p{
                        margin:3px 0;
                        line-height:140%;
                        .verdana(12px);
                    }
                    .saiba-mais{
                        .verdana(10px, bold);
                        margin-top:20px;
                    }
                }
            }
        }
        .barra-lateral{
            .inline;
            width:230px;
            h2{
                line-height:120%;
                margin-bottom:5px;
                .myriadBoldItalic(17px);
            }
            color:#A5251C;
        }        
        .certificacoes{
            border-top:2px #A2ABB0 solid;
            border-bottom:2px #A2ABB0 solid;
        }
    }
}







// ===========================================================//
.menu{
    background-color: #E5EAEE;
}

.bg-wrapper-menu-home{
    background-color:#FFF;
}

.login-clientes{
    background-color:#E5EAEE;
    text-align:center;
    color:#626D73;
    padding-top:30px;
    padding-bottom:30px;
    font-size:14px;
}

.login-clientes input[type=password],.login-clientes input[type=text]{margin-top:8px;}

.login-clientes input[type=text],
.login-clientes input[type=password]{
    width:236px;
    padding-left:4px;
    font-family: 'MyriadProRegular';
}

.login-clientes input[type=submit]{
    width:244px;
    background-color: #5D6B76;
    color:#FFF;
    border:0;
}

.conteudo{
    float:right;
    margin-top:-226px;
}

.certificacoes{
    background-color:#E5EAEE;
    padding:20px;
    height: 85px;
    font-size: 10px;
    margin-top:20px;
    line-height: 150%;
    margin-bottom:20px;
}

.certificacoes img{
    float:left;
    margin-top:7px;
}

.cert-box{
    float:left;
    height: 80px;
    font-size:13px;
    h3{ margin-bottom:4px; }
}

.cert-box.prim{
    width:323px;
    padding-left:30px;
    padding-right:15px;
    margin-right:15px;
    border-right:1px #CDD2D6 solid;
}

.cert-box.seg{
    width:220px;
    padding-left:10px;
}

.chamadas{
    height: 195px;
}

.chamadas .titulo{
    font-weight: bold;
    margin-bottom:5px;
    .arial(16px, bold);
}

.chamadas .chamada-box{
    padding:20px;
    color:#FFF;
    width:410px;
    float:left;
    .arial(12px);
}

.chamadas .chamada-box img{
    float:right;
    padding-left:10px;
}

.chamada-box.prim{
    background-color:#676C70;
    margin-right:20px;
}

.chamada-box.seg{
    background-color:#E67817;
}

.chamadas a{
    color:#FFF;
    text-decoration: none;
    display:block;
    height:158px;
}

.chamadas a:visited,.chamadas a:active{ color:#FFF; }

.chamadas .prim a:hover{ color:#E67817; }
.chamadas .seg a:hover{ color:#676C70; }

input[type=submit]:hover{
    cursor:pointer;
    color:#E5EAEE;
}

.centro .conteudo{
    width:627px;
    font-size:0;
    .inline;
    float:none;
    margin-top:-226px !important;
}

.conteudo .chamada-home{
    width:177px;
    padding:0 10px 0 10px;
    height:291px;
    .inline;
    text-align:center;
    font-size:10px;
    color:#707E86;
    text-decoration:none;
    .chamada-titulo{
        font-size:14px;
        font-weight: bold;
        color:#F58634;
        margin-top:130px;
        margin-bottom:5px;
        line-height:120%;
        .transition;
        .arial(15px, bold);
    }
    p{
        .arial(12px);
    }
    .saiba-mais{
        .transition;
        color:@laranja;
        .arial(12px, bold);
        margin-top:10px;
    }
    &:hover{
        .chamada-titulo, .saiba-mais{color:#A5251C;}
    }
}

.conteudo .chamada-home.manutencao{ background:url('../_imgs/layout/home-chamada1.jpg') transparent top left no-repeat; margin-right:16px;}
.conteudo .chamada-home.estetica{ background:url('../_imgs/layout/home-chamada2.jpg') transparent top left no-repeat; margin-right:16px;}
.conteudo .chamada-home.tecnica{ background:url('../_imgs/layout/home-chamada3.jpg') transparent top left no-repeat; }