.visitas .data{
    margin-top:15px;
    height: 30px;
    line-height: 30px;
    background-color:#EBEDEE;
    padding-left:10px;
    color:#707E86;
    font-family:'Verdana',sans-serif;
    font-size:14px;
    font-weight: bold;
    margin-bottom:3px;
}

.tabela-visitas{
    margin-bottom:30px;
}

.tabela-visitas thead{
    background-color:#EBEDEE;
    height: 20px;
    line-height: 20px;
    font-family:'Verdana',sans-serif;
    font-size:10px;
    color:#707E86;
}

.tabela-visitas .col1{width:170px; padding-left:10px;}
.tabela-visitas .col2{width:560px;}
.tabela-visitas .col3{width:180px;}

.tabela-visitas tbody tr{
    height: 30px;
    line-height: 30px;
    font-family:'Verdana',sans-serif;
    font-size:14px;
}

.tabela-visitas tbody tr td{border-bottom:2px #EBEDEE solid;}

.titulo-historico{
    height: 30px;
    line-height: 30px;
    background-color:#EBEDEE;
    padding-left:10px;
    margin-bottom:4px;
}

.hist-box{
    width: 140px;
    padding-left:10px;
    height: 20px;
    line-height: 20px;
    background-color:#EBEDEE;
    font-family:'Verdana',sans-serif;
    font-size:14px;
    margin-right:5px;
    margin-bottom:2px;
}

.hist-box a{
    text-decoration: none;
    color:#707E86;
    display:block;
}

.hist-box a:visited, .hist-box a:active{color:#707E86;}
.hist-box a:hover{
    color:#A5251C;
}

.hist-box.ano{ font-weight: bold; }

.caixa-anual{
    height:300px;
    width:158px;
    float:left;
}

.historico{
    height: 300px;
}