.center {
	text-align:center;
}

ol {
	padding:10px;
	margin:0;
}

caption {
	padding:4px;
}

/* Common */

#content {
	margin-right:auto;
	margin-left:auto;
	width:1000px;
}

.login {
	margin-left:auto;
	margin-right:auto;
}

.login > div {
	width:360px !important;
}

#content {
	width:960px;
	position:relative;
	zoom:1;
}

.date td a {
	display:inline-block;
	padding:3px 8px;
}

.date th, .date td {
	text-align:center;
	padding:3px;
}

/* Box */

.box {
	font-size:13px;
	margin:0 0 10px 0;
	position:relative;
	border:1px solid;
}

.box h2, .box p, .box table {
	margin:0;
}

.box h2 {
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	padding:2px 10px;
	cursor:move;
}

.utils a {
	position:absolute;
	top:5px;
	right:10px;
	border:1px solid;
	padding:4px 8px;
}

.box p {
	padding:10px;
}

/* Typography */

label, #navigation, .error, .success, input[type="submit"], input[type="reset"]  {
	font-weight:bold;
}

h1, h2, h3, h4, h5, h6 {
	border-bottom:1px solid;
}

a:hover {
	text-decoration:none;
}

a.edit, a.delete {
	padding-left:25px;
	background-repeat:no-repeat;
	background-position:left center;
}
a {
	padding:4px;
}

/* Table styling */

table {
	width:100%;
}

th, td {
	padding:7px 15px;
	text-align:left;
}

/* Header */

#head {
	-moz-border-radius-topright:10px;
	border:0;
	margin:10px auto 0 auto;
	padding:5px 30px;
	width:940px;
        text-align:center;
}

/* Nagivation */

#navigation {
	-moz-border-radius-bottomleft:10px;
	margin:0 auto 10px auto;
	padding:10px 30px;
	width:940px;
}

#navigation > li {
	display:inline;
	margin:0
}

#navigation > li > a, #navigation > li > span {
	display:inline-block;
	padding:5px 10px;
	text-decoration:none;
}

/* Content */

#content {
	padding:20px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
}

#foot {
	padding:5px 30px;
	width:940px;
	margin:10px auto;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
        text-align:center;
        font-size:10px;
}

#foot a{
    padding:0;
    text-decoration: none;
}

#foot a:hover{
    border-bottom:1px dotted;
}

.curved, #navigation a, #navigation span, .error, .success, .box, .utils a {
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-top-right-radius:5px;
}

.curved-alt, input, textarea, select, .box, .date td a, .utils a  {
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-top-left-radius:5px;
}

/* Forms */

label {
	display:block;
	font-size:17px;
	margin:0 0 5px;
	position:relative;
}

small {
	font-size:12px;
	font-weight:normal;
	padding-left:10px;
}

input, textarea, select{
	border:1px solid;
	font-family:inherit;
	font-size:inherit;
	padding:4px;
}

select {
	padding-top:3px;
	padding-bottom:3px;
}

input[type="submit"], input[type="reset"] {
	cursor:pointer;
	width:auto !important;
}

/* Error and Success messages */
.error, .success {
	padding:4px 8px;
}

/* Pagination */
.pagination {
	text-align:right;
}
.pagination a, .pagination span {
	display:inline-block;
	margin:0 2px;
	padding:2px 6px;
}

.login-box{
    padding:15px 30px 15px 15px;
    border:1px #DDD solid;
}

.home{
    text-align:center;
}

ul#navigation li{
    z-index:99999;
}

.submenu{
    position:absolute;
    background-color:transparent;
    z-index:999;
    list-style: none;
    padding:10px 3px 10px 3px;
    margin-top:-30px;
    padding-top:40px;
}

.submenu.sub-cadastros{
    margin-left:436px;
}

.submenu.sub-financeiro{
    margin-left:223px;
    width:200px;
}

.submenu li{
    background-color:#434A48;
    padding:3px 10px 7px 10px;
}

.submenu li a{
    text-decoration:none;
    display:block;
}

input[type=text],
input[type=file],
textarea{
    width:400px;
}

.login-box input[type=text]{ width:330px; }

select{
    min-width:400px;
}

.ui-slider .ui-slider-handle{
    width:10px !important;
    height: 10px !important;
}

#logout-btn{
    float:right;
}

.data_pagamento.hid{
    display:none;
}

#target-mes{
    display:none;
}